$fondo-home: #fef0ef;
$color-precio: #fb174f;
$color-filter: #fffdfe;
$datos-pizza: #252525;
$color-reviews: #f97707;
$size-body: 16px;

@mixin inputs ($i){
  width: 220px;
  height:5vh;
  background-color: #fffdfe51;
  border-top: 1px;
  color: white;
  border-left: none;
  border-right: none;
}

@mixin buttons($b){
    width: 30%;
    height: 7vh;
    background-color: $color-filter;
    border-radius: 5px;
    border: none;
    &:hover{
        background-color: #fb174f;
    }
}


.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10%;
  width: 80vw;
  height: 95%;
  z-index: 20;
  gap: 3vh;
  background-image: url(../../assets/R.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  .login__email {
    @include inputs(1);
  }
  .login__password {
    @include inputs(1);
  }
  .login__button{
    @include buttons(1);
  }
  .login__final{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .form__buttonhidden{
    width: 50px;
    border: none;
    border-radius: 2px;
    &:hover{
      background-color: $color-precio;
    }
    
  }
  .login__logo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
  }
  .login__icono{
    width: 100px;
  }
  
}

.header {
  background-color: $fondo-home;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 20vh;
  gap: 1vh;
  
  .header__buttonss{
    display: flex;
    gap: 1vw;
  }
  .header__buttons{
    width: 70px;
    background-color: $color-filter;
    border: none;
    &:hover{
      background-color: $color-precio;
    }
  }
  .header__usuario{
    width: 100px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  .header__section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .header__tittle{
    font-weight: bold;
  }
  .header__h2{
    font-size: 16px;
  }
 
}

.main__login{
    color: white;
    width: 50vw;
    height: 80vh;
    gap: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10vh;
    flex-direction: column;
    align-items: center;

}
@media screen and (max-width:400px) {
    .main__login{
        height: 10vh;
    }
    .login__form{
        height: 50vh;
    }
    
}
