
.pizzas-container {
  margin-top: 25px;
  width: 100vw;
  height: 70vh;
  padding-right: 17vw;
  color: black;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fef0ef!important;
}
.pizzas__promos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 100vw;
}
.pizzas__cupon{
  background-color: #fb174f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 30%;
  height: 100%;
  color: white;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px #0d0c0c;
}
.pizzas__h2{
  font-size: 20px;
}
.pizzas__cupon__span{
  font-weight: bold;
  color: white;
  font-size: 30px;
}

.pizzas-carousel-container {
  margin: 1%;
}

.pizzas-container-heading {
  color: black;
  margin: 2% auto;
  text-align: center;
  font-weight: 700;
}

.pizzas-carousel-img {
  height: 100px;
  width: 100%;
  margin: 0 auto 3%;
}

.pizzas-carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  bottom: 1.25rem;
  padding-top: 1.25rem;
  margin: auto;
  color: #fefefe;
  text-align: center;
  width: 100%;
}

.pizzas-carousel-caption p {
  color: black;
}

h3 {
  color: black;
}

@media screen and (max-width: 400px) {
 
  .pizzas-carousel-caption p {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px){
  .pizzas__cupon{
    display: none;

  }
}

