$fondo-home: #fef0ef;
$color-precio: #fb174f;
$color-filter: #fffdfe;
$datos-pizza: #252525;
$color-reviews: #f97707;
$size-body: 16px;

@mixin buttonPagar($bp) {
  width: 240px;
  height: 60px;
  background-color: #fb174f;
  color: white;
  border: none;
  &:hover {
    background-color: $color-filter;
    border: 1px solid $color-precio;
  }
}

.pagar {
  background-color: $fondo-home;
  height: 100%;
  .pagar__regresar {
    width: 200px;
    height: 5vh;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background-color: $fondo-home;
  }
  .pagar__regresarcarrito{
    width: 20px
  }
  &__button {
    @include buttonPagar(1);
  }
  .pagar__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    gap: 15px;
  }
  .pagar__label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pagar__informacion {
    font-weight: bold;
  }
  .pagar__input {
    width: 240px;
    height: 40px;
  }
}
.pagar__infocompras {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $fondo-home;
  width: 100%;
  height: 100%;
  .pagar__img {
    width: 200px;
  }
  .pagar__infoprecio {
    display: flex;
    width: 120px;
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .pagar__card {
    width: 450px;
    height: 200px;
    display: flex;
    background-color: $color-filter;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px;
    border-radius: 20px;
    justify-content: space-between;
    flex-direction: content;
  }
  .pagar__type{
    font-size: 20px;
  }
}
@media screen and (max-width:400px) {
    .pagar{
        .pagar__img {
            width: 100px;
          }
    }
    .pagar__type{
        font-size: 12px;
      }
    
}