$fondo-home: #fef0ef;
$color-precio: #fb174f;
$color-filter: #fffdfe;
$datos-pizza: #252525;
$color-reviews: #f97707;
$size-body: 16px;

@mixin sidebarButtons ($sb) {
    border: 1px solid $color-precio;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: $color-filter;
    
    &:hover{
        background-color: $color-precio;
        color: white;
    }
}
.sidebar {
    padding-top: 5%;
    width: 20vw;
    height: 65vh;
    background-color: $fondo-home;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    gap: 7vh;
    &__favoritas{
        @include sidebarButtons(1);
    }
    &__delacasa{
        @include sidebarButtons(1);
    }
    &__recomendadas{
        @include sidebarButtons(1);
    }
}

@media screen and (max-width:650px) {
    .sidebar {
        display: none;
        
    }
}