
$fondo-home: #fef0ef;
$color-precio: #fb174f;
$color-filter: #fffdfe;
$datos-pizza: #252525;
$color-reviews: #f97707;
$size-body: 16px;
.dashboard{
    background-color: #a5707d;
        background-color: $fondo-home;
        display: flex;
 
}

.slider-container {
    display: flex;
    
    width: 50vw;
    height: 50vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container section {
    display: flex;
    flex-direction: column;
    flex:  100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }
  .slider-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    img{
        width: 400px;
    }
  }


// .dashboard {
//     width: 100vw;
//     height: 100%;


@media screen and (max-width:650px) {
    .dashboard{
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100vw;
       height: 65vh;
       
    }
    .slider-container {
        display: flex;
        
        width: 60vw;
         img{
            width: 300px;
            
        }
       
      }
}

